$arrowWidth: 8px;
.u-popover {
    min-width: 177px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    box-shadow: 0 1px 6px hsla(0,0%,39%,.2);
    position: absolute;
    z-index: 1060;
    .u-popover-arrow{
    	position: absolute;
	    width: 0;
	    height: 0;
	    border-color: transparent;
	    border-style: solid;
	    &:after{
	    	content: "";
	    	display: inline-block;
	    	position: absolute;
		    width: 0;
		    height: 0;
		    border-color: transparent;
		    border-style: solid;

	    }
    }
    .arrow-right {
    	border-width: $arrowWidth $arrowWidth $arrowWidth 0;
	    border-right-color: #d9d9d9;
	    left: 0;
	    margin-left: -$arrowWidth;
	    top: 50%;
    	margin-top: -$arrowWidth;
	    &:after{
		    border-width: $arrowWidth $arrowWidth $arrowWidth 0;
		    border-right-color: #fff;
	    	left: 1px;
		    top: -$arrowWidth;
	    }
    }
    .arrow-left {
    	border-width: $arrowWidth 0 $arrowWidth $arrowWidth;
	    border-left-color: #d9d9d9;
	    left: 100%;
	    margin-left: 0;
	    top: 50%;
	    margin-top: -$arrowWidth;
	    &:after{
		    border-width: $arrowWidth 0 $arrowWidth $arrowWidth;
		    border-left-color: #fff;
	    	left: -9px;
	    	top: -$arrowWidth;
	    }
    }

    .arrow-top {
    	border-width: $arrowWidth $arrowWidth 0 $arrowWidth;
	    border-top-color: #d9d9d9;
	    left: 50%;
	    margin-left: -$arrowWidth;
	    top: 100%;
	    &:after{
		    border-width: $arrowWidth $arrowWidth 0 $arrowWidth;
		    border-top-color: #fff;
		    left: -$arrowWidth;
    		top: -9px;
	    }
    }
    .arrow-bottom {
    	border-width: 0 $arrowWidth  $arrowWidth $arrowWidth;
	    border-bottom-color: #d9d9d9;
	    left: 50%;
	    top: -9px;
	    margin-left: -$arrowWidth;
	    &:after{
		    border-width: 0 $arrowWidth $arrowWidth $arrowWidth;
		    border-bottom-color: #fff;
	    	left: -8px;
	    	top: 1px;
	    }
    }

	.u-popover-inner{
    	color: #666;
    	padding: 8px 16px;
	}
	.u-popover-title {
		min-width: 177px;
	    margin: 0;
	    min-height: 32px;
	    border-bottom: 1px solid #e9e9e9;
	    font-weight: 500;
	    padding: 8px 16px;
	}
}
