.u-associatedInputContainer{
    border-bottom: 1px solid #ddd;
    position: relative;
}
.u-assinput{
    float: left;
    margin: 0 10px 5px 0;
    position: relative;
    .u-input {
        border: none;
        outline: none;
        width: 30px;
        margin: 0;
        top: -5px;
        left: 2px;
        padding: 0;
        vertical-align: bottom;
        line-height: 25px;
        position: absolute;
        &:hover,&:focus{
            border: none;
            box-shadow: none;
        }
    }
    .nui-editableAddr-txt{
        position: relative;
        visibility: hidden;
    }
}

.u-associatedmenu{
    border: 1px solid #bbb;
    background-color: #fff;
    padding: 7px 0;
    position: absolute;
    text-align: left;
    z-index:2;
    li{
        &:hover{
          background: #eaf7ff;
        }
        padding: 4px 8px;
        .grayColor{
            color: gray;
        }
        a{
            display: inline-block;
            width: 100%;
            color: #253443;
            text-decoration: none;
            .depName{
                float: right;
                padding-left: 40px;
            }
        }

    }
    .u-memu-hover{
        background: #eaf7ff;
    }
}

.u-selectedItem{
    position: relative;
    float: left;
    margin: 0 10px 5px 0;
    border: 1px solid #2db7f5;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;

    strong {
        float: left;
        max-width: 100px;
        height: 18px;
        line-height: 18px;
        padding: 0 6px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-right: 1px solid #2db7f5;
        font-weight: normal;
    }
    a {
        float: left;
        width: 18px;
        height: 18px;
        line-height: 19px;
        background: rgba(45, 183, 245, 0.3);
    }

}

.clearfix {
    &:after{
        content: '';
        display: table;
        clear: both;
    }
}
