.u-tipBox {
	text-align: center;
	top: 30%;
	position: relative;
	width: 100%;
	letter-spacing: 2px;
	color: #999;
    font-size: 16px;
	.iconfont {
		font-size: 80px;
		color: #cacaca;
		display: inline-block;
		margin-bottom: 20px;
	}
}
