@import "../../assets/sass/var.scss";
.u-calendar{
	width: 238px;
	border: 1px solid $baseBorderColor;
	padding: 4px;
	border-radius: 4px;
	background: #fff;
	text-align: center;
	position: absolute;
	z-index: 999;
	.calendar_hd{
		line-height: 32px;
		&:after{
			content: "";
			height: 1px;
			display: block;
			clear: both;
		}
		.calendar_prev{
			float: left;
		}
		.calendar_next{
			float: right;
		}
	}
	.calendar_item{
		display: inline-block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 3px;
		margin: 1px;
		cursor: pointer;
		&:hover{
			background: $baseBackgroundColor;
			color: #444;
		}
		&.z-disabled {
			cursor: default;
			color: $grayColor1;
			&:hover{
				background: 0 0;
				color: $grayColor1;
			}
		}
		&.z-selected {
			background: $baseLinkColor;
			color: #fff;
		}
	}

	.calendar_week{
		font-weight: 700;
		.calendar_item{
			cursor: default;
			&:hover{
				background: 0 0;
				color: inherit;
			}
		}

	}
}
