



$redColor:#d9534f;
$greenColor:#00a854;
$yellowColor:#ffbf00;


$grayColor:#dfdfdf;

$baseTextColor: #7b8499;
$baseLinkColor: #2db7f5;//蓝色  15a4fa 108ee9
$baseGreenColor: #41cac0;//绿色

$baseBorderColor: #d9d9d9;
$baseBackgroundColor: #f1f2f7;//背景色


$grayColor1: #ccc;
$grayColor2: #666;//选中时正文的颜色--新加

$tableEvenColor: #f5f5f5;//列表中背景色 f8fafb  fbfcfe
$tableSelectedColor: #f0f8fe;//列表选中的颜色
$tableBorderColor: #eef3f7;
$crumbIconFontColor: #4c4c4c;
$redColor: #ff6c60;//红色
$tipColor: #bdc2cc;//备注的颜色
//图表中的颜色
$chartBlueColor: #7dd7db;//蓝绿色
$chartRedColor: #ff6c60;//红色
$chartGreenColor: #a9d96c;//绿色
$chartGrayColor: #e4e4e4;//灰色
$chartYellowColor: #ffaa00;//黄色
